
//variable de colores
$color-principal: black;

//listas de colores
$lista-colores:white,#6e6b6b26,rgba(137, 134, 134, 0.477);

//extensiones
%mediacolumn{
    grid-template-columns: (1fr);
}

//variable mixins

@mixin flex($flex,$direction,$justify,$align,$gap){
    display: $flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}
@mixin grid-colum($display,$template-columns,$template-rows,$gap){
    display: $display;
    grid-template-columns: $template-columns;
    grid-template-rows: $template-rows;
    gap: $gap;
}
@mixin grid-rows($display,$template-rows,$gap){
    display: $display;
    grid-template-rows: $template-rows;
    gap: $gap;
}