
 //variable de colores
$color-principal: black;

//listas de colores
$lista-colores:white,#6e6b6b26,rgba(137, 134, 134, 0.477);

//extensiones
%mediacolumn{
    grid-template-columns: (1fr);
}

//variable mixins

@mixin flex($flex,$direction,$justify,$align,$gap){
    display: $flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}
@mixin grid-colum($display,$template-columns,$template-rows,$gap){
    display: $display;
    grid-template-columns: $template-columns;
    grid-template-rows: $template-rows;
    gap: $gap;
}
@mixin grid-rows($display,$template-rows,$gap){
    display: $display;
    grid-template-rows: $template-rows;
    gap: $gap;
}
@mixin grid1 ($frecuencia){
    grid-template-columns: ($frecuencia);
}
//SE DEBE PONER EN CADA ARCHIVO DONDE SE DESEE USAR//

//MEDIA QUERYS//

@media screen and (max-width: 650px) {
    //INDEX MEDIA QUERYS//
  .cajas {
    @include grid1(1fr);
    gap: 10px;
  }
  .ventajas{
    .ventaja-caja {
        @include grid1(repeat(2,1fr));}
    }
    .titulo-reco{
        .recomendacion{
            @include grid1(1fr);
        }
    }

    //SOBRE NOSOTROS MEDIA QUERYS//
  .sobre-nosotros {
    flex-direction: column;
    text-align: center;
    img {
      width: 80%;
      max-width: 350px;
    }
    .texto {
      p {
        text-align: center;
      }
    }
  }
  //INSPIRACION MEDIA QUERYS//
  .inspiracion {
    flex-direction: column;
    text-align: center;
    max-height: 800px;
    gap: 10px;
  }
  .galeria {
    .fotos {
      @include grid1(1fr);
      .foto{
        &.img-1 {
          grid-row: span 1;
        }
        &.img-3 {
          grid-row: span 1;
        }
        &.img-8 {
          grid-row: span 1;
        }
        &.img-7 {
          grid-column: span 1;
        }
        &.img-11{
          grid-row: span 1;
        }
      }
    }
  }
  

  //CATALOGO MEDIA QUERYS//
  .catalogo {
    @include grid1(1fr);
  }
  //FOOTER MEDIA QUERYS//
  footer {
    grid-template-columns: 1fr;
  }
  .footer-contenedor {
    @include grid1(1fr);
    text-align: center;
    .footer-item {
      justify-content: center;
    }
  }
  
}
