@use "./funcionalidades" as mix;


//MEDIA QUERYS//
@media screen and (max-width: 850px) {
  .inspiracion {
    flex-direction: column;
    text-align: center;
    max-height: 800px;
    gap: 10px;
  }
  //sobre nosotros media querys//
  .sobre-nosotros {
    .caja-sobre{
        @include mix.grid1(1fr);
        .cajita{
            max-width: 340px;
        }
    }
  }
.titulo-reco{
        .recomendacion{
            @include mix.flex(flex,column,center,center,15px);
        }
    }

}


@media screen and (max-width: 650px) {
    //INDEX MEDIA QUERYS//
  .cajas {
    @include mix.grid1(1fr);
    gap: 10px;
  }
  .ventajas{
    .ventaja-caja {
        @include mix.grid1(repeat(2,1fr));}
  }


  //INSPIRACION MEDIA QUERYS//

  .galeria {
    .fotos {
      @include mix.grid1(1fr);
      .foto{
        &.img-1 {
          grid-row: span 1;
        }
        &.img-3 {
          grid-row: span 1;
        }
        &.img-8 {
          grid-row: span 1;
        }
        &.img-7 {
          grid-column: span 1;
        }
        &.img-11{
          grid-row: span 1;
        }
      }
    }
  }
  

  //CATALOGO MEDIA QUERYS//
  .catalogo {
    @include mix.grid1(1fr);
  }
  //FOOTER MEDIA QUERYS//
  footer {
    grid-template-columns: 1fr;
    .cajas-footer {
      @include mix.flex(flex,column,center,center ,15px)
    }
  }

  
}
